<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>HacklantaApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>ModernEra-LightItalic.otf</string>
		<string>TiemposHeadline-Semibold.otf</string>
		<string>TiemposHeadline-SemiboldItalic.otf</string>
		<string>ModernEra-Bold.otf</string>
		<string>ModernEra-Medium.otf</string>
		<string>ModernEra-ExtraBoldItalic.otf</string>
		<string>TiemposHeadline-Black.otf</string>
		<string>ModernEra-BlackItalic.otf</string>
		<string>ModernEra-Regular.otf</string>
		<string>TiemposHeadline-RegularItalic.otf</string>
		<string>ModernEra-Light.otf</string>
		<string>TiemposHeadline-MediumItalic.otf</string>
		<string>ModernEra-MediumItalic.otf</string>
		<string>ModernEra-Black.otf</string>
		<string>TiemposHeadline-LightItalic.otf</string>
		<string>TiemposHeadline-Bold.otf</string>
		<string>TiemposHeadline-Light.otf</string>
		<string>ModernEra-BoldItalic.otf</string>
		<string>TiemposHeadline-BoldItalic.otf</string>
		<string>TiemposHeadline-Regular.otf</string>
		<string>ModernEra-Italic.otf</string>
		<string>ModernEra-ExtraBold.otf</string>
		<string>TiemposHeadline-BlackItalic.otf</string>
		<string>TiemposHeadline-Medium.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
